.card {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}
.cardheader {
  margin-bottom: 20px;
}
.cardheader h1 {
  font-size: 20px;
  margin-bottom: 5px;
}
.cardheader p {
  font-size: 16px;
  margin: 0;
}
.socialbtns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cardmain form {
  display: flex;
  flex-direction: column;
}
.cardmain form label {
  font-size: 14px;
  margin-bottom: 5px;
}

.cardmain form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.cardmain form a {
  margin-bottom: 15px;
  font-size: 14px;
  color: #007bff;
}

.cardmain form a:hover {
  text-decoration: underline;
}
