.card {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* align-items: stretch;
  justify-content: flex-start; */
  width: 400px;
}
.header h1 {
  font-size: 20px;
  margin: 0;
}
.header p {
  font-size: 16px;
  margin: 0;
}
