.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.homewrap {
  position: relative;
  width: 50%;
  height: 100vh;
  background-image: url("/leftside.png");
  background-size: cover;
  z-index: -1;
}
.homewrap h1 {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 700;
  font-size: 72px;
  color: #fff;
}
.loginwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}
.social {
  position: absolute;
  bottom: 10px;
  left: 40%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 100%;
  }
  .homewrap,
  .loginwrap {
    width: 100%;
    height: 20vh;
  }

  .homewrap h1 {
    top: 30%;
    font-size: 36px;
  }

  .social {
    bottom: 5%;
  }
}
