.sidebarwrap {
  background-color: pink;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.listwrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.listitem {
  display: flex;
  align-items: center;
  margin: 15px;
  cursor: pointer;
}
.listitem h2 {
  margin-left: 10px;
}
